<%= form_with model: @entity, url: group_entities_path do |form| %>
    <div class="form">
        <div class="form-group">
            <%= form.text_field :name, required: true, class: "mobile-field", placeholder: "Transaction name" %>
        </div>
        <div class="form-group">
            <%= form.number_field :amount, required: true, class: "mobile-field", placeholder: "Amount", step: :any %>
        </div>

        <%= form.collection_select :groups, @groups, :id, :name, {}, { class: "input max_width field accordion-body", multiple: true, required: true } %>

        <%= form.submit "CREATE TRANSACTION", class: "mobile-button-blue" %>
    </div>
<% end %>